@tailwind base;
@tailwind components;
@tailwind utilities;




ul {
    list-style-type: none; 
  }
  
  li {
    position: relative; 
  }
  
  .underline {
    position: absolute;
    left: 0;
    bottom: -5px; 
    height: 2px; 
    background-color: #c4a053;
    width: 0; 
    transition: width 0.3s ease-in-out; 
  }
  
  li:hover .underline {
    width: 100%; 
  }
  
  
  
  
  